{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Beauty Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}">
					
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}">
					</div>
					<label for="feature">feature:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="feature" id="feature1" value="Face" {% if item.feature == 'Face'%}checked{%endif%}>face
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="feature" id="feature2" value="Eyes" {% if item.feature == 'Eyes' %}checked{%endif%}>eyes
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="feature" id="feature3" value="Lips" {% if item.feature == 'Lips'%}checked{%endif%}>lips
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="feature" id="feature4" value="Cheeks" {%if item.feature =='Cheeks'%}checked{%endif%}>cheeks
					  </label>
					</div>
					<div class="radio">
						<label>
						  <input type="radio" name="feature" id="feature4" value="Hair" {%if item.feature =='Hair'%}checked{%endif%}>hair
						</label>
					  </div>
					  <div class="radio">
						<label>
						  <input type="radio" name="feature" id="feature4" value="Skin" {%if item.feature =='Skin'%}checked{%endif%}>skin
						</label>
					  </div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showProducts')}}'>
						<button class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}