<html>
<head>
		<meta name="google-site-verification" content="mvF46HUkBkcHptqKwpPrn5HTuZAAhCa8W0Rm7zkE7CY" />
    <title>Beauty Products App</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	
	<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1>{{ beauty.name }}</h1>
	</div>


	<a href='{{url_for('editProduct', beauty_id = beauty.id)}}' >Edit {{beauty.name}}</a>
	<br><br><a href='{{url_for('deleteProduct', beauty_id = beauty.id)}}' >Delete {{beauty.name}}</a>
<br>
<br>
<a href = '/product'> Cancel</a>
<br>
<br>
	<a href = '{{url_for('newBeautyItem', beauty_id = beauty.id) }}'>Create New Item</a>
	<br>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


		{% for i in items %}
    <div class = 'nameAndPrice'>
		<span class = 'name'><p>{{i.name}}</p></span>

		<span class = 'price'>
		<p>{{i.price}} </p>
	</span>
	</div>


	
	<div class = 'description'>
		<p>{{i.description}}</p>
	</div>

	<div class = 'feature'>
		<p>{{i.feature}}</p>
	</div>
	
	<div class = "editdeletepane">


	<a href='{{url_for('editBeautyItem', beauty_id = beauty.id, item_id=i.id)}}' >Edit</a>
	<a href='{{url_for('deleteBeautyItem', beauty_id = beauty.id, item_id=i.id)}}' >Delete</a>
	</div>




		{% endfor %}


		
		

</div>
</div>
	</body>




</html>
